<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Tell Brilliant.Postbuild how to find this project and acumatica instance-->
  <appSettings>  
    <add key="ProjectName" value="Brilliant.SalesOrderSign" />
    <!--???-->
    <add key="AcuSite" value="C:\acumatica\builds\221120018\acumatica\acudev-221120018"/>
    <add key="AcuSiteUrl" value="http://localhost/acudev-221120018"/>
    <add key="AcuSiteCredentials" value="admin:admin"/>
    <!--???-->
    <add key="SolutionDir" value="C:\acumatica\acumatica-brilliant-sales-order-sign\Brilliant.SalesOrderSign"/>
    <add key="CustomizationsDir" value="C:\acumatica\acumatica-brilliant-sales-order-sign\Brilliant.SalesOrderSign\_package"/>
  </appSettings>
</configuration>

